.footer{
    background-color: #dfdfdc;
    height: 68vh;
}
.album{
    display: inline-block;
    flex-direction:row;
    padding: 1.5rem;
    align-items: center;
    justify-content:flex-start;
}
.album p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}
.cover{
    box-shadow: 10px 10px #d3d3d3;
}
.con{
    padding: 0.7rem;
}
.words{
    display: flex;         /*3shan t5ly al 7aga al hyt3mlha maping gmb b3d*/
    justify-content: center;
    flex-direction:row;
    align-items: center;
    color: #7e7e7e;
}
.words a{
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #7e7e7e;
    text-decoration: none;
}